.container{
    width: 85%;
    height: 600px;
    background-color: white;
    margin: auto;
}
.updateAccount{
    padding-top:15px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
#updateAccount span{
    margin-bottom: 10px;
    font-size: .85em;
}
.loginPassword{
    margin-bottom:15px;
    margin-top:-10px;
}
h1.login-title {
    margin: 30px 0px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    text-align:center;
    background: #de2226;
}
.login-input {
    width: 285px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-input:focus {
    border-color:#808080;
    outline: none;
}
.login-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #990033;
    border: 0;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
    margin-bottom: 10px;
}
.login-button:hover{
    color:#808080; 
    text-decoration:none; 
    cursor:pointer; 
}
.drawPeople{
    display: block;
    margin: auto;
    border: 1px solid #000000;
}
.hidden{
    display: none;
}
