//variables
$responsive: 900px;

body{
    font-family: Helvetica, Arial, sans-serif;
    height:100%;
    margin:0;
}
h1, h2{
    font-family: 'Lora', serif;
}

/*---------------header stuff---------------*/
header{
    background-color: #6495ED;
    height: 265px;
    text-align: right;

    hr{
        width: 80%;
    }
    ul li{
        list-style: none;
        padding-bottom: 10px;
    }
    .headerOne{
        padding-right: 43px;
        padding-top:55px;
    }
    nav{
        padding-right: 43px;
    }
    a, a:visited{
        color: #FAEBD7; 
        text-decoration: none;
    }
    a:hover{
        border-bottom: 1px solid white;
        color: white;
    }
    a:active{
        border-bottom:none;
        color: #DEB887;
    }
    @media screen and (min-width: $responsive){
        &{
            float: left;
            height: 100%;
            width: 275px;
        }
        &:after{
            clear: both;
        }
    }
}

/*---------------main stuff---------------*/

main{
    background-color: #FAEBD7;
    padding-top: 30px;
    a{
        color: black;
        text-decoration: none;
    }
    p{

        a, a:visited{
            color: #6495ED; 
            text-decoration: none;
        }
        a:hover{
            border-bottom: 1px solid #6495ED;
        }
        a:active{
            border-bottom:none;
            color: #DEB887;
        }
    }

    .headerTwo{
         a, a:visited{
            color: black; 
            text-decoration: none;
        }
        a:hover{
            border-bottom: 1px solid #6495ED;
            color: #6495ED;
        }
        a:active{
            border-bottom:none;
            color: #DEB887;
        }
    }
    @media screen and (min-width: $responsive){
        &{
            margin-left: 275px;
            padding-bottom: 15px;
        }
    }
}
article{
    background-color: white;
    box-shadow: 3px 3px 5px 0 rgba(209,209,209,1);
    margin: auto;
    width: 350px;
    div{
        color: #7c7c7c;
        padding: 40px 0 0 35px;
    }
    section{
        padding: 0 35px 0 35px;
        text-align: left;
        .headerTwo{
            margin:10px 0 75px 0;
            width: 280px;
        }
        figure img{
            display: block;
            margin: auto;
            width:200px;
        }
        p{
            padding-bottom: 50px;
        }
        @media screen and (min-width: $responsive){
            & .headerTwo{
                width: 80%;
            }
        }
    }
    @media screen and (min-width: $responsive){
        &{
            width: 600px;
        }
    }
}