.galleryContent{
	margin-top: 100px;
}
.galleryEnding{
	margin: 25px 0 100px;
}

/* effect-shine */
.keepSurviving {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
.galleryDescription p {
	width: 75%;
	margin: auto;

}
.galleryDescription{
	text-align: center;
}
hr{
	width:25%;
}

