/*dark purple #2F2235*/
/*onyx        #3F3244*/
/*silver      #BFC3BA*/
/*egg plant   #60495A*/

.schoolLink{
    text-decoration: none;
    color: #BFC3BA;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0 15px;
}
.schoolLink:hover{
	color:#60495A;
}
.schoolLink:active{
	color:#ffffff;
}
.family img {
	border-radius: 15px;
	margin: 25px 0 100px;
	-webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.5);
}
.family h4{
	margin: 50px 0 10px;
}
.family p{
	margin: 0;
}
