body {
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  background: #1A3B42;
}
html{
	max-width: 100%;
	max-height: 100%;
}


/*-----------------------all things nav-----------------------*/


nav button{
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
}
nav{
    background-color: #F7F7E3;
	-webkit-box-shadow: 3px -5px 33px -2px rgba(91,74,52,0.75);
	-moz-box-shadow: 3px -5px 33px -2px rgba(91,74,52,0.75);
	box-shadow: 3px -5px 33px -2px rgba(91,74,52,0.75);
	display: none;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
nav ul li{
	float: left;
	margin: 0 15px;
	display: inline;
	font-size: .75em;
}
nav ul li a {
  vertical-align: bottom;
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: black;
}
nav ul li a:hover, .footerDetails p a:hover {
  box-shadow: 3px 4px 6px black;
}
.topNav{
	height: 250px;
}
.topNav .navBackground {
	background: url("../assets/greyScaleBiker.jpg");
	background-size: cover;
	height: 250px;
	margin:auto;
	-webkit-box-shadow: 3px -5px 33px -2px rgba(91,74,52,0.75);
	-moz-box-shadow: 3px -5px 33px -2px rgba(91,74,52,0.75);
	box-shadow: 3px -5px 33px -2px rgba(91,74,52,0.75);
}
.logo{
	display: none;
}
.active{
  color:#FF6F00 !important;
  text-shadow: 1px 1px black;
}


/*-----------------------main page content-----------------------*/
.content1, .content2, .content3{
	margin-bottom: 50px;
}

.content1, .content3{
	height: 400px;
}
.content1{
	display:flex;
	flex-direction: column;
	align-content: center;
}
.featuredSales, .salesCarousels{
	display: flex;
	margin: auto;
}
.featuredSales {
	border-bottom: 3px solid #6B1327;
	margin: 0 0 10px 0;
	background-color: #5B4A34;
}
.featuredSales h2 {
	margin: 0 auto 10px auto;
	padding: 15px 0;

}


/*-----------------------carousels and buttons-----------------------*/

.cOne{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.carousel{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cOne .info{
	flex-direction: column;
	margin-left: 3px;
}
.cOne img{
	height: 200px;
	width: 232px;
	padding-left: 5px;
}
.cTwo, .cThree{
	display: none;
}
.left {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 0.5em solid #333;
    border-radius: 20%;
    margin-right: 1.5em;
}
a:hover .left, a:hover .right{
  border: 0.5em solid #cc0c0c;
}
a:hover .left:after, a:hover .right:after {
	border-top: 0.5em solid #cc0c0c;
	border-right: 0.5em solid #cc0c0c;
}
.left:after {
	content: '';
	display: inline-block;
    margin-top: .56em;
    margin-left: 0.45em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid #333;
	border-right: 0.5em solid #333;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.right {
	display: inline-block;
	width: 3em;
	height: 3em;
	border: 0.5em solid #333;
	border-radius: 20%;
	margin-left: 1.5em;
}
.right:after {
	content: '';
	display: inline-block;
	margin-top: .56em;
	margin-left: -0.45em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid #333;
	border-right: 0.5em solid #333;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cButtons{
	max-width: 64px;
	background-color: #437C90;
	border-radius: 17px;
	margin-left: 4px;
}
.cButtons .right{
	margin-left: 0px;
}
.salesInfo, .learnMore{
	display: flex;
	border: 1px solid black;
	width: 226px;
	height: 45px;
	margin: 10px;
	align-items: center;
	justify-content: center;
	background-color: #437C90;
}
.salesCarousels{
	text-align: center;

}


/*-----------------------middle content home page-----------------------*/
.content2{
	display: flex;
	background: url("../assets/bikingEvents.jpg");
	background-size: cover;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	height: 338px;
	z-index: 1000;
	opacity: .75;
}
.c2Info{
	top:-334px;
	left:21%;
	text-align: center;
	z-index: 1001;
	background-color: rgba(247,247,227,.33);
	height: 100%;
	width: 50%;
	justify-content:center;
	display: flex;
	flex-direction: column;
}
.eventButton{
	border: 1px solid black;
	border-radius: 33px;
	margin:0 auto;
	padding: 0 10px;
}
.eventButton a{
	text-decoration: none;
	color: inherit;
}
.eventButton:hover{
	color: white;
	background-color: #6B1327;
}
.c2Info2{
	display: none;
}

/*-----------------------content 3 home page-----------------------*/
.content3{
	display: flex;
	flex-direction: row-reverse;
	background: url("../assets/adventureToursHome.jpg");
	background-size: cover;
	overflow: hidden;
}
.c3TourImg{
	width:50%;
}
.c3Details{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 25%;
}

/*-----------------------sales page-----------------------*/
#salesContent{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	justify-content: space-around;
	padding: 5px 10px;
}
.salesSpot img{
	height: 250px;
	width: 250px;
}
.salesSpot{
	height: 100%;
	width: 250px;
	padding: 20px 0;
}
.learnMoreSales, .salesInfoSales{
	display: flex;
	border: 1px solid black;
	width: 226px;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #437C90;
	flex-direction: column;
	padding: 12px;
}

/*-----------------------service page-----------------------*/

.serviceTable table{
	display: table;
	border-collapse: collapse;
	box-shadow: 3px 3px 13px 0px #6B1327;
	background-color: #5F822E;
	margin: 50px;
} 
table, th, tr, td{
	border: 1px solid #F7F7E3;
	text-align: center;
	padding: 5px;
}
thead{
	font-size: 1.25em;
	background-color: #5B4A34;
}
tbody tr:first-child, tbody tr:last-child{
	background-color: #437C90;
}
.contactUsService{
	text-align: center;
	margin: 0 auto 50px auto;
	width: 30%;
	background-color: #F7F7E3;
	padding: 25px;
	border-radius: 33px; 
}
.contactUsService h3:nth-child(2){
	width: 100px;
}

/*-----------------------tours page-----------------------*/

.gridItemImg img{
	width: 100%;
}
.bigGrid{
	max-width: 100%;
	margin: 50px auto;
}
.gridItem{
	float:left;
	padding-left: 30px;
	width: 400px;
	margin-bottom: 50px;
}
.ATbutton{
	width: 105px;
	height: 51px;
	margin: 50px auto;
	padding: 10px 20px 11px !important;
	font-size: 21px !important;
	background-color: #5F822E;
	font-weight: lighter;
	text-shadow: 1px 1px #6B1327;
	color: #ffffff;
	border-radius: 33px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border: 1px solid #6B1327;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.ATbutton h3{
	font-size: 1.25em;
	margin: 12px 7px;
	font-weight: lighter;
	font-style: italic;
}


/*-----------------------contact page-----------------------*/

.contentContact{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #437C90;
}
.contactDetails{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.contactDetails h1, .contactDetails h2{
	margin-bottom: 0;
	font-size: 1em;
}
.contactForm form fieldset{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	margin-bottom:50px;
	width: 89%;
}
.contactForm label{
	display: inline-block;
	width: 100px;
}
.contactForm label{
	margin: 10px;
}
.contactForm input, textarea{
	border-radius: 33px;
}

.skillLevel{
	display: block;
}
.skillLevel label{
	width:70px;
}
.contactNote{
	font-size: .75em;
}

input[type=submit]{
	margin-bottom: 50px;
	margin-left: 5px;
	padding: 10px 20px 11px !important;
	font-size: 21px !important;
	background-color: #6B1327;
	font-weight: bold;
	text-shadow: 1px 1px #6B1327;
	color: #ffffff;
	border-radius: 33px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border: 1px solid #6B1327;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.visitMap{
	margin: 50px;
}
.visitDetails{
	font-size: 1.2em;
}

/*-----------------------modal styling-----------------------*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*-----------------------events page-----------------------*/

/*-----------------------footer stuff-----------------------*/


.footer {
	width: 100%;
	height: 220px;
	background-color: #6B1327;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}
.footerImg img{
	display: flex;
	max-height: 90%;
	position: relative;
	top: 14px;
}
.footerDetails{
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-top: 25px;
	font-size: .85em;
	max-height: 220px;
}
.footerDetails p{
	margin-top: 0;
}
.footerDetails p a, .learnMore a{
	color: inherit;
	text-decoration: none;
}

