@media only screen and (min-width: 37.5em) { /*600px wide*/
	nav{
		display: block;
		font-size: 1.25em;
		visibility: visible;
	}
	.topNav{
		height: 400px;
	}
	.topNav .navBackground {
		height: 400px;
	}
	.footer {
		height: 220px;
	}
	.footerImg img{
		max-width: 100%;
	}
	.footerDetails{
		font-size: .95em;
	}
	.c2Info{
		text-shadow: 2px 2px 2px rgba(91, 91, 91, 1);
		font-size: 1.5em;
	}
	.c2Info2{
		display: block;
	}
	.bigGrid{
		max-width: 85%;
	}
	.gridItem{
		width: 85%;
		padding-left: 30px;
	}
	.eventWrapper{
		grid-template-rows: .15fr 5fr 1fr;
	}
	.modal-content{
		width: 31rem;
	}
	.hamburger--spin, .hamburger{
		display: none !important;
	}

}
