@media only screen and (min-width: 37.5em) { /*600px wide*/
	nav{
		display: block;
		font-size: 1.25em;
	}
	.topNav .navBackground {
		height: 400px;
	}
	.footer {
		height: 220px;
	}
	.footerImg img{
		max-width: 100%;
	}
	.footerDetails{
		font-size: .95em;
	}

}