@media only screen and (min-width: 37.5em) { /*600px wide*/
	nav{
		display: block;
		font-size: 1.25em;
	}
	.topNav .navBackground {
		height: 400px;
	}
	.footer {
	width: 100%;
	height: 300px;
	background-color: #6B1327;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
	.footerImg img{
		display: flex;
		max-height: 187px;
		position: relative;
		top: 14px;
	}
	.footerDetails{
		display: flex;
		flex-direction: column;
		padding-left: 50px;
		padding-top: 25px;
		font-size: .85em;
	}
	.footerDetails p{
		margin-top: 0;
	}
	.footerDetails p a{
		color: inherit;
		text-decoration: none;
	}
}