@media only screen and (min-width: 87.5em ) { /*1400 px wide*/
	nav{
		font-size: 1.5em;
	}
	.topNav .navBackground , .topNav{
		height: 700px;
	}
	.logo {
		max-width: 600px;
		max-height: 600px;
		position: relative;
		top: -630px;
		left: 56%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo img{
		max-width: 550px;
		max-height: 550px;
	}
	.logo p {
		font-size: 3.5em;
		margin-top: -10px;
		text-shadow: 3px 2px 2px rgba(107, 19, 39, 1);
	}
	.footer {
		height: 400px;
	}
	.footerImg img{
		max-width: 150%;
	}
	.footerDetails{
		font-size: 1.5em;
	}
	.cTwo {
		width: 40%;
	}
	.cThree{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.cThree .info{
		flex-direction: column;
	}
	.cThree img{
		height: 200px;
		width: 232px;
		padding-left: 5px;
	}
	.cOne,.cThree{
		padding-top: 15px;
	}
	.content1{
		margin-top: 200px;
		height:450px;
	}
	.content2{
		height:650px;
		font-size: 1.75em;
	}
	.c3Details{
		font-size: 1.75em;
	}
	.topNav .salesPage p {
		font-size: 2.5em;
	}
	.contactDetails{
		font-size: 2em;
	}
	.contactForm {
		font-size: 1.5em;
	}
	.contactForm label{
		width:120px;
	}
	.skillLevel label {
		width: 110px;
	}
	.skillLevel input{
		margin: 3px;
	}
}