 /* Home Page */
header{
	margin: 0;
}
ul.topTabs {
	padding-top: 18px;
	padding-bottom: 16px;
}

.topBar {
  height: 75px;
  background-color: grey;
  position: relative;
  width: 100%;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 auto;
  padding-bottom: 5px;
/*  border-bottom: 1px solid #cc0c0c;*/
  box-shadow: 0 2px 4px 0 rgba(204, 12, 12,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;

}

.topTabs a {
	display: inline-block;
	padding: 8px 12px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	border: 2px solid black;
	color: black;
	border-radius: 5px;
}

.tab {
	background-color: #cc0c0c;
}

.thumbnailButton{
	float: left;
	position: relative;
	margin-top: 2px;
	padding-left: 30px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-top: 6px;
}
.homeThumbnail{
	height: 60px;
	width: 60px;
	border-radius: 5px;
	border: 2px solid #cc0c0c;
}
nav a:hover {
	border-color: #999; /*needs new color*/
	color: #777;
}
.statusBox{
	width: 125px;/*move to media tags to make sure the box stays the same size untill everything goes to screen wide.*/
    color: blue;
    float: right;
    padding-right: 5%;
    border: 5px solid black;
    border-top: 0;
    padding-left: 5px;
    padding-top: 5px;
    height:74px;
    display: flex;
    flex-direction: column;
}

.statusItem{
	margin:0;
	font-size: 15px;
}
.Big{
	font-size: 20px;
}
body{
	text-align: center;
	background-color: black;
	box-sizing: border-box;
	margin:0;
	height: 100%;
}
.carousel{
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	justify-content: center;
	align-items: center;
}
.col-10{
	border:2px solid #cc0c0c;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: black;
}
.content{
	max-width: 100vw;
	overflow: auto;
	white-space: nowrap;
/*	margin:	50px auto; was causing the box to be too tall and go behind the videos*/
}
.videoHeaders{
	height: 4em;
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
.videoHeadersInline{
	width: 15%;	
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #7EA3CC;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    border-radius: 5px;
}
.bigHeader{
	width:35%;
	font-size: 65px;
}
.allVideos{
	color: #255C99;
	text-decoration: none;
}
.allVideos a{
	margin: auto;
	padding: auto;
	justify-content: center;
	font-size: 45px;
	text-decoration: none;

}
a:visited {color:#255C99;}
.vid{
	margin-bottom: 15px;
	margin-top: 15px;
	min-width: 625px;
}
.col-4{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 7.5px;
	margin-left: 7.5px;
}
.testImage{
	height: 100%;
	width:100%;
	border: 1px solid #cc0c0c;
}
.homeImage{
	height: 100%;
	width: 100%;
}
.everythingButHeadandFoot{
	min-height: 100%;
	margin-bottom: -40px;
}

.footer{
	height: 40px;
	background-color: grey;
	border-top-width: 3px;
	border-color: white;
	margin-top: 80px;
}
.items{
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	overflow: hidden;
	position: relative;
}
.items li{
	list-style: none;
}
.orange{
	background-color: orange;
}
.yellow{
	background-color: yellow;
}
.pink{
	background-color: pink;
}
.green{
	background-color: green;
}
.active{ /*why is this needed. see jsfiddle its attaching to the big parent.*/
	display:flex;
}
.active li{
	position: absolute;
	top:700px;
}
.active li.current{
	top:0px;
}
.buttons{

}
a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
  border: 0.5em solid #cc0c0c;
}
a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
	border-top: 0.5em solid #cc0c0c;
	border-right: 0.5em solid #cc0c0c;
}
.left {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 0.5em solid #333;
    border-radius: 20%;
    margin-right: 1.5em;
}

.left:after {
	content: '';
	display: inline-block;
    margin-top: .56em;
    margin-left: 0.45em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid #333;
	border-right: 0.5em solid #333;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.right {
	display: inline-block;
	width: 3em;
	height: 3em;
	border: 0.5em solid #333;
	border-radius: 20%;
	margin-left: 1.5em;
}

.right:after {
	content: '';
	display: inline-block;
	margin-top: .56em;
	margin-left: -0.45em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid #333;
	border-right: 0.5em solid #333;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* base resolution goals
1920
1440
1080
750

the main feature will be the carousel which will always be 75% of the total screen*/

/*Small only */
@media screen and (max-width: 39.9375em) {
	body{
		flex-direction: column;
	}
	.topBar{/*needs to go into a button/dropdown look at LCRF when on mobile*/
		display:flex;
		flex-direction:column;
		height: 200px;
	}
	.statusBox{
		width: 100%;
		height: 74px;
	}
	.col-10{
		width: 85%;
	}
}

/*Medium and up 1080 */
@media screen and (min-width: 40em) {
	.row {}
	.col-4 {}
	.col-10 {}
}

/*Medium only 1440*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.row {}
	.col-4 {}
	.col-10 {}
}

/*Large and up */
@media screen and (min-width: 64em) {
	.row{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
	.col-4{
		width:600px;
		height:338px;
	}
	.col-10{
		min-width: 1066px;
		height: 600px;
	}
}

/*Large only 1920 */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	.row{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
	.col-4{
		width:600px;
		height:338px;
	}
	.col-10{
		min-width: 1066px;
		height: 600px;
	}
}




/*justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content*/


