@media only screen and (min-width: 37.5em) {

	header, nav, main, footer { 
		max-width: 75%; 
		margin: auto;
	}
    .hambuger, .menu-on, .menu-off, #toggle-menu,[type="checkbox"] { display:none; }

    .firstimg{
    	width: 50%;
    }
	.forecast{
		display:flex;
	}
	.forecastTabel{
		justify-content: space-around;
	}
	#sunnyicon{
		max-width: 100px;
		float: left;
	}
	nav {
	    font-weight: bold;
	    margin-bottom: 10px;
	    width: 100%;
	    text-align: center;
	    background-color: lightblue;
	    height:40px;
	    display: block;
	}
	nav ul {
		position: relative;
		right: 0;
		top:0;
		list-style: none;
		display: table;
		width: 100%;
		margin: 0;
		text-align: center;
		padding: 0px 20px;
		background: none;
	}
	nav ul li {
		padding: 10px .15em;
		vertical-align: bottom;
		border-right: 1px solid black;
		border-left: 1px solid black;
		text-align: center;
		height: 40px;
		white-space: nowrap;
	}
	.hamburger{
		display: none;
	}
	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}
	.container.weatherStuff{
		flex-direction: column;
		text-align: center;
	}
	.flexItem{
		flex: 1 1 auto;
	}
	#weatherSummaryH3{
		text-align: center;
	}
}