*{
	box-sizing: border-box;
}

.bigGrid{
	display:grid;
	grid-template-columns: 1fr;
}
.bigGrid img{
	width: 90%;
	/*max-height: 400px;*/
	margin: 0 auto;
	padding: 15px;
}
.descriptionLong{
	text-align: center;
	margin: 10px;
}
.flexImage{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

/*MEDIUM*/
@media only screen and (min-width: 37.5em) {
	.bigGrid{
		grid-template-columns: 1fr 1fr;
	}
	.bigGrid img{
		width: 90%;
		/*max-height: 200px;*/
		margin-left: auto;
		margin-right: auto;
	}
}

/*LARGE*/
@media only screen and (min-width: 64em ) {	
	.bigGrid{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.bigGrid img{
		width: 90%;
		/*max-height: 200px;*/
	}
	.image:hover {
		box-shadow: 5px 5px 10px #cc0c0c;
	}

} 