
body {
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
}

header, nav, main, footer { 
  max-width: 75%; 
  margin: auto;
}
nav button{
  margin: .2rem 2%;
  background-color transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
}
nav{
    background-color: #7691D9;
}
nav ul{
  list-style: none;
  padding-left: 05px;
  margin-top: 0;
}
nav ul li a {
  vertical-align: bottom;
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: black;
  border-top: 1px solid rgba(0,0,0, .3);
}
nav ul li a:hover {
  box-shadow: 3px 4px 6px black;
}
nav ul.hide{
  display: none;
}
nav ul li{
  text-align: left;
}
nav ul li:first-child{
  border-left: none;
}
nav ul li:last-child{
  border-right: none;
}
nav ul li a:visited {
 color: black;
}
nav ul li a:active {
  color: white;
}
.active{
  color:#FF6F00 !important;
  text-shadow: 1px 1px black;
}
.weather-summary{

}
.firstimg{
  float: left;
  margin-right: 15px;
}
.forecast{
  display: none;
}
table, th, td {
   border: 1px solid black;
}
#recordBreak{
  max-width: 100%;
}
#sunnyicon{
    max-width: 100px;
}
h3#weatherSummaryH3.flexItem{
  clear: both;
}
main figure { 
  margin: 0 0 .2rem 2%; 
  width:96%; 
}
section.container.contact{
  flex-direction: column;
  text-align: center;
}
.contactInfo{
  margin: auto;
}
.contact{
  padding-bottom: 10px;
  background-color: lightblue;
}
.footer-bar{
  background-color: #778899;
  padding-left: 25px;
  padding-right: 25px;
}
.footer-bar > .siteInfo {
    margin-top: 0;
}
.weatherCities{
  text-align: center;
  border: 1px solid black;
  padding-bottom: 5px;
  width: 93%;
  margin: auto;
  margin-top: 15px;
}
.weatherCities img{
  width: 80%;
}
div .weatherStory{
  width: 80%;
  margin: auto;
}
.weatherCities .weatherStory p{
  padding: 10px;
  width: 90%;
  text-align: center;
  margin: auto;
}
footer section{
  border: 1px solid black;
  margin: 10px;
}
.hideSmall {
    display: none;
}
