/* About Page */
ul
{
    margin: 0;
    /*padding:0;*/

}
/*div{
	display: inline-block;
}*/



/*whenever you have grey user agent stylesheet in chorme developer tools, might need a reset 
h2{
margin: 0 ;} etc*/