/* Delete these CSS comments after reading. */
/* This main css file contains the default rules 
and is geared toward the small/phone view */

* { 
	box-sizing: border-box;


}  
/* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  ____________  /* Declare the base font-family */
}

header, nav, main, footer { 
	/* the comma between the selectors means apply 
	the following CSS declarations to all of the listed elements */
  max-width: ______; 
  /* Declare the maximum width and other main element 
  rules to limit the stretch on larger/wider views */
}

header {}
header h1 {}
header img {}
header .subheading {}

nav {

    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    height:40px;
}
nav button {}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  text-align: center;
  padding: 0px 20px;
}
nav ul li {
	padding: 10px .25em;
  vertical-align: bottom;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  height: 40px;
  display: inline-block;
  white-space: nowrap;
}
nav ul li:first-child{
  border-left: none;
}
nav ul li:last-child{
  border-right: none;
}
nav ul li a {
  vertical-align: bottom;
}
nav ul li.active a {}
nav ul li a:hover {
  background-color: darkblue;
}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }

footer {}